nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Atur jarak antara logo dan item navigasi */
}

nav ul li {
    display: inline;
}

nav ul li.logo {
    flex-grow: 1; /* Membuat logo tetap di kiri */
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a button {
    padding: 5px 10px;
    border: none; /* Hilangkan border default */
    background-color: #007BFF; /* Warna latar belakang */
    color: white; /* Warna teks */
    cursor: pointer; /* Ubah kursor saat hover */
    border-radius: 5px; /* Sudut membulat */
}

nav ul li a button:hover {
    background-color: #0056b3; /* Warna latar belakang saat hover */
}